<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <logo>
        <a class="logo navbar-brand waves-light" mdbWavesEffect routerLink="/home">
            <strong>Air Technik</strong>
        </a>
    </logo>
    <links>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item waves-light" mdbWavesEffect routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="/radios">Radios</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="/accessories">Accessories</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="/gables">Gables</a>
            </li>
            <li class="nav-item" *ngIf="!authService.loggedIn()" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link waves-light" mdbRippleRadius routerLink="/login">
                    <i class="fa fa-user-o"></i> Login</a>
            </li>
            <li class="nav-item" *ngIf="authService.loggedIn()">
                <a class="nav-link waves-light" mdbRippleRadius (click)="onLogoutClick()">
                    <i class="fa fa-user-o"></i> Logout</a>
            </li>
        </ul>
    </links>
</mdb-navbar>