// My Global Styles
$primary-color: #2e2e2e; // elegant-color
$primary-color-dark: #212121; // elegant-color-dark
$secondary-color: #ffbb33; // warning-color
$secondary-color-dark: #ff8800; // warning-color-dark
